<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541951289180-mp2n543c86u9vfg633n28c7qs9h4kgbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541951289180-mp2n543c86u9vfg633n28c7qs9h4kgbp</string>
	<key>API_KEY</key>
	<string>AIzaSyA4kCEBWfzmW9b-IZlW8CbMh_6AOKTDXGA</string>
	<key>GCM_SENDER_ID</key>
	<string>541951289180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suleymanyazici.Paylasma</string>
	<key>PROJECT_ID</key>
	<string>payla-3defe</string>
	<key>STORAGE_BUCKET</key>
	<string>payla-3defe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541951289180:ios:5b71ae41409955889b4399</string>
</dict>
</plist>