<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514497016546-gtpluv22ap393isefcvjpgktm2g91h3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514497016546-gtpluv22ap393isefcvjpgktm2g91h3f</string>
	<key>API_KEY</key>
	<string>AIzaSyBCnvQz5opaDQta52DwHSNLK807JizGK20</string>
	<key>GCM_SENDER_ID</key>
	<string>514497016546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suleymanyazici.Paylasma-new</string>
	<key>PROJECT_ID</key>
	<string>paylasma-new</string>
	<key>STORAGE_BUCKET</key>
	<string>paylasma-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514497016546:ios:51249231753aca14ebe4bb</string>
</dict>
</plist>